{% extends "master.html.twig" %}

{% block title %}Problem{% endblock %}

{% block content %}
    <h3>Internal error</h3>    
    <p>We've encountered an error. Our team of coding ninjas is already working
        on it. We apologize for the inconvenience.
        Please <a href="/">click to continue</a></p>    
    <img src="/images/ninja.png" width="200">
{% endblock content %}
