{% extends "master.html.twig" %}

{% block title %}{{"Sign  Out"|trans}}{% endblock %}


{% block content %}
    <div class="container" id="loginContainer">
            <h4>Access denied</h4>
    </div>
{% endblock %}
