{% extends "master.html.twig" %}

{% block title %} {{ "home"|trans }} {% endblock %}
{% block head %}   
    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/shop-item.css" rel="stylesheet">


    <!-- jQuery -->
    <script src="/js/cart_script.js"></script>

{% endblock %}


{% block content %}
    <div id="cartContainer">

    </div>

        {% endblock %}  