{% extends "master.html.twig" %}

{% block title %}{{"Facebook Login Failed"|trans}}{% endblock %}


{% block content %}
    <div class="container" id="loginContainer">
                <h1>{{"Login with your facebook account is denied due to missing or invalid data"|trans}}</h1>
                <a class="btn btn-lg btn-primary btn-block" style="width:150px;margin:auto;" href="/register">{{"Please register an account with us"|trans}}</a>
                <div class="row"> </div>
    </div>
{% endblock %}
