{% extends "master.html.twig" %}

{% block title %} {{ "home"|trans }} {% endblock %}
{% block head %}   
    <!-- jQuery -->
    <script src="/js/product_addedit.js"></script>

{% endblock %}


{% block content %}
    {% if user.role == 'admin' %}
       
        <div id="productTable" style='min-height: 600px; min-width: 600px;'>
        </div>
        <div style='text-align: center;'>
            {% if errorList %}
                <ul class="errors">
                    {% for error in errorList %}
                        <li>{{ error }}</li>
                        {% endfor %}
                </ul>
            {% endif %}

        </div>
        <div id="productForm">

        </div>
    {% endif %}
{% endblock %}  