{% extends "master.html.twig" %}

{% block title %}{{"Sign Up"|trans}}{% endblock %}

{% block head %}
    <!-- jQuery -->
    <script src="/js/register.js"></script>
{% endblock %}


{% block content %}
    <div class="container" id="loginContainer">

  <div class="row">
 {% if errorList %}
        <ul class="errors">
            {% for error in errorList %}
                <li>{{ error }}</li>
                {% endfor %}
        </ul>
    {% endif %}
  
    
    <form class="form-signin" method="POST" action="/resetPassword">
        <h2 class="form-signin-heading">Reset Password</h2>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon2">New password</span>
	  <input type="password" name="pass1" class="form-control" aria-describedby="basic-addon" required>
            </div>
        <br/>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon2">Confirm password</span>
	  <input type="password" name="pass2" class="form-control" aria-describedby="basic-addon3" required>
            </div> 
          <input type='hidden' name='resetToken' value='{{resetToken}}'>
	<br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
      </form>
  </div>
</div>
{% endblock %}
