{% extends "master.html.twig" %}

{% block title %}{{"Store Not Found"|trans}}{% endblock %}

{% block content %}
    <div class="container" id="loginContainer">
        <div class="row"></div>
<h4>{{"We are so sorry, but we don\'t have a store near your address yet. We are expanding so please return to our web site and try to make an order. Thank you for your understanding"|trans}}</h4>
<br><br>
<a class="btn btn-lg btn-primary btn-block linkButtons" href="/">{{"Continue"|trans}}</a>
</div>
{% endblock %}
