{% extends "master.html.twig" %}

{% block content %}
    <p>Product {% if savedId %}saved{% else %}added{% endif %} successfully,
        <a href="/admin/products/list">click to continue</a></p>
{% endblock %}
